/* Add your CSS here */

body {
  margin: 0;
  padding: 0;
}

header {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
}

.logo-bar {
  background-color: #666666;
  text-align: center;
  padding: 20px 0;
}

.logo-bar img {
  width: 150px;
  height: auto;
}

header p {
  font-family: Arial, sans-serif;
  text-align: center;
}
